.container {
    display: flex;
    flex-direction: column;
    width: 200px;
    height: 250px;
    margin: 15px 10px;
    background-color: #fff;
    border: 1px solid #dcdcdc;
    border-radius: 10px;
    box-shadow: 1px 2px 3px 0px rgba(0, 0, 0, .1);
    transition: 0.3s;
}

.container:hover {
    transform: scale(1.05, 1.05);
    cursor: pointer;
}

.imgContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150px;
}

.imgContainer>img {
    max-height: 120px;
    max-width: 170px;
    object-fit: contain;
}

.content {
    flex: 1;
    padding: 15px 8px;
}

.title {
    height: 41px;
    margin: 0 0 0 0;
    overflow: hidden;
}

.bottom {
    height: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cate {
    font-size: 0.8em;
}

.price {
    font-size: 1em;
}