@import-normalize;
/*  */

* {
  --primary: #ff6b6b;
  --primary-hover: #ff8a8a;
  --secondary: #9b9b9b;
  --secondary-hover: #a9a9a9;
}

/* BASE */

body {
  margin: 0;
  font-size: 12px;
  font-family: 'Segoe UI', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.btn {
  margin: 5px 0;
  padding: 5px 10px;
  border-radius: 10px;
  border: 0.5px solid black;
  cursor: pointer;
}

.btn-primary {
  background-color: var(--primary);
  color: #fff;
}

.btn-primary:hover {
  background-color: var(--primary-hover);
}

.btn-secondary {
  background-color: var(--secondary);
  color: #fff;
}

.btn-secondary:hover {
  background-color: var(--secondary-hover);
}